<section id="features">
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center max-w-2xl mx-auto lg:text-balance">
      <p class="text-sm leading-normal font-bold uppercase text-accent-600">
        Özellikler
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900 lg:text-balance">
        Fındık ticaretini dijital geleceğe taşıyoruz
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        Üretici ve fabrikaları buluşturan en hızlı ve güvenli dijital platform.
      </p>
    </div>

    <div
      class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl">
      <div class="grid justify-between w-full">
        <div
          class="absolute inset-0 left-0 z-10 from-white via-transparent w-44 bg-gradient-to-r">
        </div>
        <div
          class="absolute inset-0 left-0 z-10 ml-auto from-white via-transparent w-44 bg-gradient-to-l">
        </div>
      </div>
      <div class="relative flex items-center gap-2 whitespace-nowrap t">
        <span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Güvenli İşlemler
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          QR Kodlu Teslimat
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Hızlı Hesap Kurulumu
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Otomatik Talep İletimi
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Fiyat Takip Sistemi
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Gerçek Zamanlı Analitik
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Gelişmiş Raporlama
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Mobil Uygulama
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          API Entegrasyonu
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Karanlık/Aydınlık Tema
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Anlık Bildirimler
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg">
          Müşteri Desteği
        </span>
      </div>
    </div>
    <div
      class="grid grid-cols-2 text-center gap-x-6 gap-y-12 lg:grid-cols-4 lg:gap-y-16">
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
            <path d="M8 11a5 5 0 1 0 3.998 1.997"></path>
            <path d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Canlı Takip
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Fındık fiyatlarını ve taleplerinizi gerçek zamanlı takip edin.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-wave-square size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 12h5v8h4v-16h4v8h5"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Otomatik Eşleştirme
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Talepleriniz en yakın fabrikaya otomatik olarak iletilir.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-iteration size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5"></path>
            <path d="M3 16h18"></path>
            <path d="M18 13l3 3l-3 3"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              QR Kod Sistemi
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            QR kodlu fişlerle güvenli ve hızlı teslimat süreci.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-widivh="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-5 mx-auto">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium">
              Güvenli Ödeme
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Teslimat onayı sonrası otomatik ödeme sistemi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
